<div class="container">
     <div class="obs-header-row">
        <app-back-btn></app-back-btn>
        <span class="light-black-24-600">Of</span>
    </div>
    <div class="cards-row">
        <p-card header="Click to add Cookie">
        <button pButton class="primary-normal-btn" (click)="bakeCroissants()">Order Cookie</button>
    </p-card>
    <p-card header="Cookies Ordered:">
        <div class="card-content">
            <ul id="croissantList1"></ul>
        </div>
    </p-card>
    </div>
    <div class="cards-row">
         <p-card header="Cookies Ordered (Promise):">
        <div class="card-content">
            <ul id="croissantList2"></ul>
        </div>
    </p-card>
    <p-card header="Cookies Ordered (String):">
        <div class="card-content">
            <ul id="croissantList3"></ul>
        </div>
    </p-card>
    </div>
</div>