<div class="container">
     <div class="obs-header-row">
        <app-back-btn></app-back-btn>
        <span class="light-black-24-600">From</span>
    </div>
    <div class="cards-row">
        <p-card header="Click to add Croissants">
        <button pButton class="primary-normal-btn" (click)="bakeCroissants()">Order Croissants</button>
    </p-card>
    <p-card header="🥐 Croissants Ordered:">
        <div class="card-content">
            <ul id="croissantList1"></ul>
        </div>
    </p-card>
    <p-card header="🥐 Croissants Ordered (Promise):">
        <div class="card-content">
            <ul id="croissantList2"></ul>
        </div>
    </p-card>
    </div>
    <div class="cards-row">
    <p-card header="🥐 Croissants Ordered (String):">
        <div class="card-content">
            <ul id="croissantList3"></ul>
        </div>
    </p-card>
    <p-card header="🥐 Croissants Ordered (Iterables):">
        <div class="card-content">
            <ul id="croissantList4"></ul>
        </div>
    </p-card>
    </div>
</div>