<!-- list.component.html -->

<p>Ways to make Observables:</p>
<div class="cards-row">
    <ng-container  *ngFor="let item of observableType">
        <div style="width: 400px">
            <p-card header="{{ item.name }}">
                <div class="card-content">
                    <span>{{ item.description || 'No description provided.' }}</span>
                    <p-button class="primary-button" [label]="'Check ' + item.name + '()'" 
                        (onClick)="openObservableType(item.routerLink)"></p-button>
                </div>
            </p-card>
        </div>
    </ng-container>
</div>

<p>Operators: </p>
<div class="cards-row">
    <ng-container  *ngFor="let item of operatorType">
        <div style="width: 400px">
            <p-card header="{{ item.name }}">
                <div class="card-content">
                    <span>{{ item.description || 'No description provided.' }}</span>
                    <p-button class="primary-button" [label]="'Check ' + item.name + '()'" 
                        (onClick)="openObservableType(item.routerLink)"></p-button>
                </div>
            </p-card>
        </div>
    </ng-container>
</div>