<div class="container">
    <!-- PROMISES -->
    <span class="light-black-24-600">Promises</span>

    <p-button class="primary-button" label="Get Promise Results" (onClick)="getChocolate()"></p-button>

    <p-card header="Response:" *ngIf="showPromiseResults">
        <div class="info-rows">
            <div class="info">
                <span class="light-black-14-400">
                    Name: 
                </span>
                <span class="light-black-14-600">
                    {{promiseRes.name}}
                </span>
            </div>
            <div class="info">
                <span class="light-black-14-400">
                    Type: 
                </span>
                <span class="light-black-14-600">
                    {{promiseRes.type}}
                </span>
            </div>
            <div class="info">
                <span class="light-black-14-400">
                    Flavour: 
                </span>
                <span class="light-black-14-600">
                    {{promiseRes.flavour}}
                </span>
            </div>
            <div class="info">
                <span class="light-black-14-400">
                    Cost: 
                </span>
                <span class="light-black-14-600">
                    {{promiseRes.cost}}
                </span>
            </div>
        </div>
    </p-card>

    <!-- ASYNC AWAIT -->

    <span class="light-black-24-600">Async & Await</span>

    <p-button class="primary-button" label="Start Async Method" (onClick)="startAsyncFunction()"></p-button>

    <p-card header="Response:" *ngIf="showAsyncAwaitResults">
        <p-table [value]="chocolates" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.cost }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>

</div> 